.adventures
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    width: 90%;

    margin: auto;
    margin-top: 50px;
}


.adventures img
{
    height: 300px;

    margin: 2%;

    background-color: grey;

    transition: all 0.2s ease;
}
.adventures img:hover
{
    cursor: pointer;
}
