a
{
    text-decoration: none;
}


.navBar
{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 82%;
    margin: auto;
    margin-top: 1%;
}

.logo
{
    width: 105px;
}


.navItems
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




.pageLinks
{
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: rgb(43, 43, 43);
    
    margin: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.pageLinks a
{
    margin: 0px 15px;
    text-decoration: none;
    color: rgb(58, 58, 58);
    
}
.pageLinks a:hover
{
    height: 18px;
    opacity: 0.95;
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px rgb(0, 0, 0) solid;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img
{

    height: 18px;
    margin: 17px;
    opacity: 0.85;
}
.social img:hover
{
    opacity: 1;
}





.burger
{
    display: none;
    cursor: pointer;
}

.burger div
{
    height: 3px;
    width: 30px;
    margin: 8px;
    background-color: rgb(0, 0, 0);

    transition: all 0.3s ease;
}







@media screen and (max-width: 800px)
{
    body
    {
        overflow-x: hidden;
    }
    
    .navItems
    {
        position: absolute;
        right: 0;
        top: 15vh;
        height: 85vh;
        width: 100%;
        padding-top: 5vh;
        
        background-color: rgba(255, 255, 255, 0.95);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        transform: translateX(100%);
        transition: transform 0.3s ease-out;

        z-index: 1000;
    }
    .pageLinks {
        display: flex;
        flex-direction: column;
        font-weight: 400;
    }
    .pageLinks li
    {
        margin: 20px;
        opacity: 0;
    }

    .social
    {
        opacity: 0;
    }

    .burger
    {
        display: block;
    }
}

.navActive {
    transform: translateX(0%);
}


@keyframes navItemsFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes socialFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



.toggle .line1 {
    transform: rotate(-45deg) translate(-9px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-9px, -7px);
}

