
.gridContainer {
  margin: auto;
  width: 82%;

  margin-top: 100px;
}

.grid-item {
  width: 24%;

  transform: translateY(50px);
  opacity: 0;
}

.grid-item img {
  width: 100%;
  margin-bottom: 3px;
}

.first-images {
  transform: translateY(0);
  opacity: 1;
}

.is-visible {
  animation: isVisible 0.5s 0.1s ease-out both;
}




@keyframes isVisible {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}






@media all and (max-width: 1200px) {
  .grid-item {
    width: 32%;
  }
}

@media all and (max-width: 800px) {
  .grid-item {
    width: 49%;
  }
}

@media all and (max-width: 570px) {
  .grid-item {
    width: 100%;
  }
}